.main {
  padding: 6rem;
  min-height: 100vh;
  background-color: #fff !important;
  color: #000;
}

.contacts_bg {
  background: url("../../public/felipe-simo-kxwKM0_6Of4-unsplash.jpg") no-repeat;
  height: 900px;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  right: 0;
  bottom: 0;
}

.contacts_bg h1 {
  z-index: 999;
  color: white;
  font-weight: 700;
  font-size: 200px;
  text-align: center;
  padding-top: 155px;
  margin-bottom: 0;
  line-height: 296px;
  margin-top: 150px;
}

.contacts_but {
  display: flex;
  justify-content: center;
}

.contacts_but button {
  width: 337px;
  height: 64px;
  background: linear-gradient(93.82deg, #003f06 13.82%, #006d0b 96.11%);
  box-shadow: 5px 5px 20px rgba(1, 63, 7, 0.23);
  border-radius: 13px;
  font-weight: 600;
  font-size: 19px;
  line-height: 176.7%;
  color: white;
}
#main_catalog {
  margin-top: 850px;
}
.button_a {
  text-align: center;
}
.searchbar {
  /* position: fixed; */
  top: 10px;
  width: 70%;
  text-align: center;
}

.card_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 30px;
}
.card_main {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
.bg_img {
  /* position: absolute; */
  width: 100%;
  height: auto;
  left: 0;
  /* background-image: url("https://images.unsplash.com/photo-1619204715997-1367fe5812f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1889&q=80");
  background-size: cover;
  background-position: center; */
}
.car_card {
  width: 400px;
  height: 470px;
  border: 3px solid #142c56;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(248, 244, 239);
  text-transform: uppercase;
  cursor: pointer;
  /* text-align: center; */
}
/* .card_img {
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 330px;
  border-bottom: 3px solid red;
} */

.detail {
  padding-bottom: 7px;
  color: #142c56;
  border-bottom: 0.5px solid gold;
}
.price_detail {
  font-size: 30px;
  color: #142c56;
  padding-top: 10px;
  text-transform: uppercase;
}

.control_buttons {
  width: 100%;
}

.button_d {
  width: 100%;
  background-color: red;
  border-radius: 10px;
  height: 40px;
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

.button_u {
  width: 100%;
  background-color: green;
  border-radius: 10px;
  height: 40px;
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

.button_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 100px;
  flex-wrap: wrap;
}

.button_74 {
  background-color: #142c56;
  border: 2px solid red;
  border-radius: 30px;
  box-shadow: #142c56 4px 4px 0 0;
  color: #fdce08;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_74:hover {
  background-color: #f8f3f3;
  color: #142c56;
}

.button_74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.description_button {
  text-align: center;
}

.description_button button {
  background-color: #142c56;
  border: 1px solid red;
  border-radius: 30px;
  box-shadow: #142c56 4px 4px 0 0;
  color: #fdce08;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.description_button button:hover {
  background-color: #f8f3f3;
  color: #142c56;
}

.description_button button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#footer_catalog {
  margin-top: 100px;
}

.card_menu_img {
  display: block;
  width: 25px;
  height: 25px;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 50px;
}
.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 3;
  opacity: 0;
  transition: opacity 0.4s linear;
}

.card_img {
  height: 100%;
  transition: transform 0.4s linear;
  background-size: cover;
}

.card_menu {
  position: absolute;
  top: 30px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 14px;
  z-index: 3;
}

.car_menu_item {
  /* background-color: #fff; */
  padding: 10px;
  opacity: 0.8;
  transition: transfrom 0.3s linear, opacity 0.3s linear,
    border-radius 0.3s linear;
}
.car_menu_item:first-child {
  border-radius: 12px 12px 0px 0px;
}

.car_menu_item:last-child {
  border-radius: 0px 0px 12px 12px;
}

.car_menu_item:hover {
  opacity: 1;
  border-radius: 1px;
  transform: translate(-7px, -4px);
}

.card_info {
  position: absolute;
  padding: 15px;
  /* color: #fff; */
  bottom: 0;
  transform: translateY(60%);
  transition: 0.3s linear;
  /* transition: transform 0.3s linear; */
  z-index: 3;
  text-align: center;
}

.card_title {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
}

.card_desc {
  padding: 10px 0;
  font-size: 19px;
  text-align: center;
  color: red;
}

.card_button_body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.card_button {
  padding: 10px 15px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3 linear, color 0.3s linear;
  color: #fff;
  width: 200px;
}

.card_button:hover {
  background-color: #fff;
  color: #000;
}

.card:hover .card_info {
  transform: translate(0%);
}

.card:hover .card_img {
  transform: scale(1.2);
}

.card:hover::before {
  opacity: 1s;
}

@media (min-width: 768px) {
  .button_74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media only screen and (max-width: 1200px) {
  .contacts_bg h1 {
    font-size: 120px;
  }
}

@media only screen and (max-width: 800px) {
  .map_info {
    align-items: normal;
    flex-direction: column;
  }
  .address_info {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 630px) {
  .contacts_bg h1 {
    font-size: 80px;
  }
  .map {
    width: auto;
    height: 530px;
  }
}

@media only screen and (max-width: 420px) {
  .contacts_bg h1 {
    font-size: 70px;
  }
  .map {
    width: auto;
    height: 430px;
  }
  .message {
    padding: 40px 40px;
  }
}
