.encar_product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  margin-top: 900px !important;
}

.booking_bg {
  background: url("../../public/images/felipe-simo-kxwKM0_6Of4-unsplash.jpg")
    no-repeat;
  height: 900px;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  right: 0;
  bottom: 0;
}
.booking_bg h1 {
  z-index: 999;
  color: white;
  font-weight: 700;
  font-size: 150px;
  text-align: center;
  padding-top: 155px;
  margin-bottom: 0;
  line-height: 296px;
  margin-top: 150px;
}

.product_card {
  width: 400px;
  min-height: 300px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 20px;
  padding: 25px;
  margin-top: 35px;
}

.product_image_name,
.product_info {
  display: flex;
  justify-content: space-between;
}

.product_image_name {
  align-items: center;
  margin-bottom: 15px;
}

.product_image_name h1 {
  font-size: 20px;
  font-weight: 600;
  color: red;
}

.product_card:nth-child(1) h1 {
  color: red;
}
.pricing_info p {
  color: #142c56 !important;
}

.details,
.pircing_info {
  flex-basis: 50%;
  color: #142c56 !important;
}

.img_car {
  width: 250px;
  height: 150px;
  background-size: cover;
  border-radius: 15px;
}
