@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

.card_wrapper {
  max-width: 1100px;
  margin: 0 auto;
  color: #12263a !important;
  margin-top: 150px !important;
}
/* img {
  width: 100%;
  display: block;
} */

.card img {
  width: 100%;
  display: block;
}
.img_display {
  overflow: hidden;
}
.img_showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img_showcase img {
  min-width: 100%;
}
.img_select {
  display: flex;
}
.img_item {
  margin: 0.3rem;
}
.img_item:nth-child(1),
.img_item:nth-child(2),
.img_item:nth-child(3) {
  margin-right: 0;
}
.img_item:hover {
  opacity: 0.8;
}
.product_content {
  padding: 2rem 1rem;
}
.product_title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product_title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product_link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product_link:hover {
  opacity: 0.9;
}
.product_rating {
  color: #ffc107;
}
.product_rating span {
  font-weight: 600;
  color: #252525;
}
.product_price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product_price span {
  font-weight: 400;
}
.last-price span {
  color: #f64749;
  text-decoration: line-through;
}
.new-price span {
  color: #256eff;
}
.product_detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product_detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product_detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product_detail ul li {
  margin: 0;
  list-style: none;
  /* background: url(shoes_images/checked.png) left center no-repeat; */
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product_detail ul li span {
  font-weight: 400;
}
.purchase_info {
  margin: 1.5rem 0;
}
.purchase_info input,
.purchase_info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase_info input {
  width: 60px;
}
.purchase_info .btn {
  cursor: pointer;
  color: #fff;
}
.purchase_info .btn:first-of-type {
  background: #256eff;
}
.purchase_info .btn:last-of-type {
  background: #f64749;
}
.purchase_info .btn:hover {
  opacity: 0.9;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product_imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product_content {
    padding-top: 0;
  }
}
